## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 6
---------------------------------------

GOALS:

1. Answer all the questions from the lecture.
2. Practice wrangling data - doing more advanced code
3. Complete your first more advanced Exploration/Exercise

----------------------------------------------------------

This homework has **4 Questions** and **7 Exercises**

NOTE:
Exercises will tend to be an analysis of a single piece of data where one exercise builds on the next.

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

In [ ]:
file_location = 'https://joannabieri.com/introdatascience/data/hotels.csv'
DF_raw_hotels = pd.read_csv(file_location)

In [ ]:
show(DF_raw_hotels)

In [ ]:
# I always look at the column names - they have to be spelled exactly!
columns_list = list(DF_raw_hotels.keys())
print(columns_list)

### Example of Combining Masks

* Show only results for visitors from USA or GBR.

In [ ]:
mask = (DF_raw_hotels['country']=='USA') | (DF_raw_hotels['country']=='GBR')
DF_raw_hotels[mask]

## Example Finding unique values

In [ ]:
my_columns = ['market_segment']
DF_raw_hotels[my_columns].drop_duplicates()

In [ ]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].drop_duplicates()

## Example Counting unique values

In [ ]:
my_columns = ['market_segment']
DF_raw_hotels[my_columns].value_counts()

In [ ]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].value_counts()

## Example of Counting unique values in two columns - unsorted

In [ ]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].value_counts(sort=False)

In [ ]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].value_counts(ascending=True)

## Example of Saving Unique Values to a Data Frame

Just add the command **.reset_index().rename(columns={"index": "value", 0: "count"})**. In this class

In [ ]:
my_columns = ['market_segment','customer_type']
my_counts = DF_raw_hotels[my_columns].value_counts()
my_counts = my_counts.reset_index().rename(columns={"index": "value", 0: "count"})
show(my_counts)

## Example of Adding a column to a Data Frame

In [ ]:
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
DF_raw_hotels

**Q1** Count up the number of little_ones in different hotel types (Hint - use value_counts() with hotel and little_ones as your columns.)

In [ ]:
# Your code here:
my_columns = ['little_ones', 'hotel']
DF_raw_hotels[my_columns].value_counts

**Q2** Add a new column that calculates the total number of humans (all_humans) in the room (adults+children+babies) (Hint - you can copy and paste the code above where we calculated little_ones and add on another thing)

In [ ]:
# Your code here
DF_raw_hotels['all_humans'] = DF_raw_hotels['adults'] + DF_raw_hotels['babies'] + DF_raw_hotels ['babies']
DF_raw_hotels

**Q3** Can you figure out what the code below is doing - comment on each line -- remember you can add a comment using the hashtag #

In [ ]:
# PLEASE ADD YOUR COMMENTS!
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
# The code above is adding all the 'children' and 'babies' together into one column labeled 'little_ones'.
my_columns = ['hotel','little_ones']
my_counts = DF_raw_hotels[my_columns].value_counts()
# The code above is counting the values of the 'hotel' and 'little_ones' variables.
my_counts = my_counts.reset_index().rename(columns={"index": "value", 0: "count"})
# This code is saving the counted values into a Data Frame. 
my_counts['proportion']=my_counts['count']/sum(my_counts['count'])
# This code is saying that the variable 'proportion' is either the values counted or the sum of those values.

## Example of Grouping the data frame into chunks

In [ ]:
DF_raw_hotels.groupby(by=['hotel']).sum()

In [ ]:
my_columns = ['adults','children','little_ones','babies']
DF_raw_hotels.groupby(by=['hotel'])[my_columns].sum()

There are lots of different operaitons you could use:

* .min()
* .max()
* .mean()
* .median()
* .sum()
* .prod()
* .count()
* .describe()

In [ ]:
show(DF_raw_hotels.groupby(by=['hotel'])[my_columns].describe())

Here we see that .describe() does all the descriptive statistics for each of columns, broken into the two groups. 

## Example of Grouping to quickly generate data

The .groupby() function lets you quickly generate data about things you care about. In just one command below we are able to look at the total number of occupants for each of the columns (adults, children, little_ones, and babies) for each month in the data set.

In [ ]:
DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].sum()

**Q4** Try changing the code above to calculate the mean, max, and min for the above data.

# Exercises:

## Our first big-ish problem:

Now you will try to use our hotels data set to answer some questions! You will need to use the tools we have learned so far to look into the data and try to answer the questions. Really try to answer the questions with as few hints as possible!

### IF YOU USE MY ANSWER - avoid plagiarism

To avoid plagiarism, if you end up copying my answer and using it, YOU MUST explain clearly what each part of the code is doing. It's okay to need to use my code at this point, but it is not helpful to your learning to blindly copy and paste without trying to understand.

**Hints and Answers can be found in the lecture notes!**

### Exercise 1

Are people traveling on a whim?

How could you find out?

Try creating a mask filtering for hotel bookings where the guest is **not** from the US (`country` code `"USA"`) and the `lead_time` is less than 1 day.

What proportion of people traveled last minute?

In [35]:
# Your code here

### Exercise 2

How many bookings involve at least 1 child **or** baby?

In [36]:
# Your code here:

### Exercise 3

Do you think it's more likely to find bookings with children or babies in city hotels or resort hotels?
Test your intuition.

In [37]:
# Your code here:

### Exercise 4

Create a frequency table of the number of `adults` in a booking.
Display the results in descending order so the most common observation is on top.
What is the most common number of adults in bookings in this dataset?
Are there any surprising results?

In [38]:
# Your code here:

### Exercise 5

Repeat Exercise 5, once for canceled bookings (`is_canceled` coded as 1) and once for not canceled bookings (`is_canceled` coded as 0).
What does this reveal about the surprising results you spotted in the previous exercise?

In [39]:
# Your code here:

### Exercise 6

Calculate minimum, mean, median, and maximum average daily rate (column labeled 'adr') grouped by `hotel` type so that you can get these statistics separately for resort and city hotels. (Hint - try using .describe() after doing group by)

Which type of hotel is higher, on average?

In [40]:
# Your code here:

### Exercise 7

We observe two unusual values in the summary statistics above -- a negative minimum, and a very high maximum).
What types of hotels are these?

Locate these observations in the data set and find out the arrival date (year and month) as well as how many people (adults, children, and babies) stayed in the room.

You can investigate the data by showing the data frame to locate these values, but preferably you should identify them in a reproducible way with some code.

In [ ]:
# Your code here: